@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Taviraj:wght@200&display=swap');
* {
	box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
  background-color:#FAFAEB;
  font-family:'Amiri', serif;
}
hr.solid {
    border-top: 3px solid #bbb;
    align-items: center;
    margin-left: 20%;
  }
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #34495e; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #304457; 
  }
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 50px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;

          }

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
body {
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    border-radius: 15px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    width: 80%;
    align-items: center;
    margin-left: 10%;
    text-align: center;
    border-radius: 20px;
    box-shadow: #718daa 7px 7px 9px 0px;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
    text-align: center;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  .h2m{
    text-align: center;
  }
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .pren{
    border-bottom: #bbb 2px solid ;
    width:100px;
    text-align: center;
    margin-left:47% ;
  }
 .num{
  color: #0872f3;
  border: 2px rgb(255, 255, 255) solid;
  border-radius: 10px;
  text-align: center;
  width: 25px;
  text-align: center;
  margin-left: 48%;
  
 }
 

 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 460px;
  margin-top: -50px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.list-group-item{
  width: 50%;
  text-align: center;
  margin-left: 26%;
}
.map{
  border: #000 2px solid;
  border-radius: 20px;
}
.foot-all{
  background: #f1f1f1;
}
.face{
  height: 40px;
  border: none;
  background-color:#0d6efd ;
  border-radius: 15px;
}
.foot1{
  display: flex;
  margin-left: 10px;
}
.facebok{
  margin-left: 00px;
  margin-top: 100px;
  align-items: center;
}
.txts{
  display: flex;
  margin-left: 90px;
}
.mot{
  margin-left: 30px;
}
.logo{
  margin-left: 100px;
}
